* {
    font-family: helvetica, sans-serif, arial;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --primary-bg-color: #DDe0bd;
    --secondary-bg-color: #d0d1ac;
    --primary-color: #948b89;
    --secondary-color: #726e75;
    --accent-color: #b6a39e;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-title{
    font-style: italic;
    font-size: 32px;
    border-bottom: 3px solid;
    text-align: center;
    margin:0 auto 30px auto;
}

header h1 {
    display: flex;
    align-items: flex-start;
}

header {
    background-color: var(--primary-bg-color);
    padding: 15px 0px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--secondary-color);
}

header nav{
    padding: 6px 10;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    align-items: flex-end;
    
}

header nav ul li a {
    padding: 30px;
    font-size: 1.5vw;
    color: var(--secondary-color);
    text-decoration: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}

header nav ul li a:hover {
    color: black;
}

html,
body {
    height:100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.hero {
    background-image: url("../images/bgimg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    background-repeat: no-repeat;
    display: block;
    min-width: 10%;
    border: 1px solid var(--accent-color);
}
.hero img{
    display: flex;
    align-self: center;
    margin: auto auto;
    width: 356px;
}

#bio {
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    align-content: column;
    padding: 0 20px;
}

#bio p{
    text-justify: center;
    text-align: center;
    margin: 0 auto;
    width: 75%;
}

#bio h2{
    color: var(--secondary-color);
}

#projects{
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    text-decoration: none;
    justify-content:space-around
    
}

#projects h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.proj-container{
   display: flex;
   justify-content: center;
   
}

.run-buddy{
    border: 5px solid var(--accent-color);
    max-height: 200px;
    max-width: 450;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

.run-buddy a{
    color: var(--primary-color);
    display: block;
}

.run-buddy img{
    width: 55%;
}

.run-buddy a:hover{
    color: black;
}

.horiseon{
    border: 5px solid var(--accent-color);
    max-height: 200px;
    display: flex;
    align-items: column;
    justify-content: space-between;
    max-width: 450px;
    flex-wrap: wrap;
}

.horiseon a{
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
}

.horiseon a:hover{
    color: black;
}

.horiseon img{
    width: 60%;
}

#coninf {
    padding: 0 0 50px 0;
    display: flex;
    justify-content: center;
    background-color:var(--secondary-bg-color);
    color: var(--secondary-color);
}

.contact {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
    display: block;

}

#contact-info{
    display: flex;
    justify-content: space-around;
    background-color:var(--secondary-bg-color);
    color: var(--secondary-color);
}

.flex-item{
    text-align: center;
    justify-content: space-around;
}

footer{
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 30px 30px 30px 30px;
}


@media screen and (max-width: 775px){

    #header nav ul li a{
        font-size: 3vw;
}

    .projects{
        display:block;
}

}